.root {
	-fx-background-image : url("/images/backgrounds/black_white_lake_lonelyboat.jpg");
	-fx-background-size : cover;
}

#menuBar    {
	-fx-background-color : #BFB8B3;
	-fx-font-weight : bold;
}

.titled-pane > .title 
{
	-fx-background-color: #BFB8B3;
}

.menu-item .label {
	-fx-background-color : white;
} 
#player-slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0, 1.0;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

#titleText {
	-fx-background-color: blue;
	-fx-font-weight : bold;	
	-fx-font-family : "Times New Roman";
	-fx-font-size: 32.0px;
} 

#mediaView {
	-fx-background-color : black;
}

#videoPlayer {
	-fx-background-color : #BFB8B3;
	
  	-fx-border-color: linear-gradient(from 0% 0% to 0% 100%, #BFB8B3, grey);
  	-fx-border-style: hidden solid solid solid;
  	-fx-border-width: 0 7.5 7.5 7.5;	
}

#TrackHolder {
	-fx-background-color : #CDCCCB;
}

#clip-progress-bar .track {
	-fx-background-color: transparent;
}

#clip-progress-bar .bar {
	-fx-background-color: rgba(0,0,0,0.5);
}