.root {
	-fx-background-image : url("/images/backgrounds/black_white_lake_lonelyboat.jpg");
	-fx-background-size : cover;
}

#menuBar    {
	-fx-background-color : #BFB8B3;
	-fx-font-weight : bold;
}

.menu-item .label {
	-fx-background-color : white;
} 